--markup markdown
--markup-provider redcarpet
--main README.md
--files README.md,LICENSE
--charset utf-8
--no-private
--output-dir docs/
--protected
--exclude spec/
--exclude vendor/
--exclude tmp/
--exclude coverage/
