---
http_interactions:
- request:
    method: get
    uri: https://api.cinemascore.com/guest/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"new":[{"ID":7067,"TITLE":"GOLDFINCH, THE","MPAA_RATING":"R ","GRADE":"B","SURVEY_DATE":"Sep
        13 2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Sep
        13 2019 12:00:00:000AM","DISTRIBUTOR":"WARNER BROS","MOVIE_TITLE":"GOLDFINCH,
        THE","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"},{"ID":7068,"TITLE":"HUSTLERS","MPAA_RATING":"R
        ","GRADE":"B-","SURVEY_DATE":"Sep 13 2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Sep
        13 2019 12:00:00:000AM","DISTRIBUTOR":"STX ENTERTAINMENT","MOVIE_TITLE":"HUSTLERS","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"}],"recent":[{"ID":7056,"TITLE":"47
        METERS DOWN: UNCAGED","MPAA_RATING":"PG13","GRADE":"C+","SURVEY_DATE":"Aug
        16 2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Aug
        16 2019 12:00:00:000AM","DISTRIBUTOR":"ENTERTAINMENT STUDIOS","MOVIE_TITLE":"47
        METERS DOWN: UNCAGED","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"},{"ID":7062,"TITLE":"ANGEL
        HAS FALLEN","MP[...]
