---
http_interactions:
- request:
    method: get
    uri: https://api.cinemascore.com/guest/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"new":[{"ID":7101,"TITLE":"DOCTOR SLEEP","MPAA_RATING":"R ","GRADE":"B+","SURVEY_DATE":"Nov  8
        2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Nov  8
        2019 12:00:00:000AM","DISTRIBUTOR":"WARNER BROS","MOVIE_TITLE":"DOCTOR SLEEP","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"},{"ID":7103,"TITLE":"LAST
        CHRISTMAS","MPAA_RATING":"PG13","GRADE":"B-","SURVEY_DATE":"Nov  8 2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Nov  8
        2019 12:00:00:000AM","DISTRIBUTOR":"UNIVERSAL","MOVIE_TITLE":"LAST CHRISTMAS","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"},{"ID":7099,"TITLE":"MIDWAY","MPAA_RATING":"PG13","GRADE":"A","SURVEY_DATE":"Nov  8
        2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Nov  8
        2019 12:00:00:000AM","DISTRIBUTOR":"LIONSGATE","MOVIE_TITLE":"MIDWAY","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"},{"ID":7100,"TITLE":"PLAYING
        WITH FIRE","MPAA_RATING":"PG","GRADE":"B+","SURVEY_DATE":"Nov  8 2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Nov  8
        2019 12:00:00:000AM","DISTRIBUTOR":"PARAMOUNT","MOVIE_TITLE":"PLAYING WITH
        FIRE","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"}],"recent":[{"ID":7073,"TITLE":"ABOMINABLE","MPAA_RATING":"PG","GRADE":"A","SURVEY_DATE":"Sep
        27 2019 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Sep
        27 2019 12:00:00:000AM","DISTRIBUTOR":"UNIVERSAL","MOVIE_TITLE":"ABOMINABLE","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2019"},{"ID":7070,"TITLE":"AD
        ASTRA","MPAA_RATING":"PG13","GRADE":"B-","SURVEY_DATE":"Sep 20 2019 12:00:0[...]
