---
http_interactions:
- request:
    method: get
    uri: https://api.cinemascore.com/guest/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"new":[{"ID":7184,"TITLE":"JUDAS AND THE BLACK MESSIAH","MPAA_RATING":"R
        ","GRADE":"A","SURVEY_DATE":"Feb 12 2021 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Feb
        12 2021 12:00:00:000AM","DISTRIBUTOR":"WARNER BROS","MOVIE_TITLE":"JUDAS AND
        THE BLACK MESSIAH","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2021"},{"ID":7185,"TITLE":"LAND","MPAA_RATING":"PG13","GRADE":"B+","SURVEY_DATE":"Feb
        12 2021 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Feb
        12 2021 12:00:00:000AM","DISTRIBUTOR":"FOCUS","MOVIE_TITLE":"LAND","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2021"}],"recent":[{"ID":7176,"TITLE":"ALL
        MY LIFE","MPAA_RATING":"PG13","GRADE":"B+","SURVEY_DATE":"Dec  4 2020 12:00:00:000AM","CLIENT":"CINEMASCORE","SURVEY_TYPE":"CINEMASCORE","FRIDAY_DATE":"Dec  4
        2020 12:00:00:000AM","DISTRIBUTOR":"UNIVERSAL","MOVIE_TITLE":"ALL MY LIFE","PROFILE_REPORT":"PROFILE_REPORT1","SNAPSHOT_REPORT":"SNAPSHOT_REPORT1","OVERVIEW_REPORT":"OVERVIEW_REPORT1","YEAR":"2020"},{"ID":7177,"TITLE":"HALF
        BROTHERS","MPAA_RATING":"PG13","GRADE":"B","SURVEY_DATE":"Dec  4 202[...]
